<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>数当てゲーム - ログイン画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid">
		<header>
			<div class="row justify-content-center">
				<div style="background-color: #FFE699">
					<h4 class="text-center mt-4 mb-4">会員認証</h4>
				</div>
			</div>
		</header>
		<main>
			<div class="row justify-content-center">
				<div class="mt-5"></div>
				<div class="mt-5"></div>
				<div class="col-4">
					<form id="login" action="/login" method="post">
						<div class="mb-4 d-flex align-items-center">
							<label class="form-label me-1" style="min-width: 100px;">会員ID</label>
							<input class="form-control" type="text" id="member_id" th:value="${member_id}"
								maxlength="6" style="border: 1.5px solid #555;" autofocus>
						</div>
						<div class="mb-5 d-flex align-items-center">
							<label class="form-label me-1" style="min-width: 100px;">パスワード</label>
							<input class="form-control" type="password" id="password" th:value="${password}"
								maxlength="8" style="border: 1.5px solid#555;">
						</div>
						<div class="mb-5 text-center">
							<button class="btn btn-primary w-100">ログイン</button>
						</div>
					</form>
					<div class="text-center text-danger" id="err_msg" th:text="${err_msg}"></div>
				</div>
			</div>
		</main>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/login.js"></script>
</body>

</html>

</html>